@{ // <-- bloco q permite usar html e c# 
   
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Developer: @ViewData["Developer"]</p>
<p>@ViewData["Email"]</p>

<address>
    <strong>Rede Social: </strong> <a href="https://www.linkedin.com/in/marcelo-magalhães-513b6b283" target="_blank">LinkedIn</a>
</address>