@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>My contact page: </h3>

<address>
    <strong>Rede Social: </strong> <a href="https://www.linkedin.com/in/marcelo-magalhães-513b6b283" target="_blank">LinkedIn</a><br />
    <strong>Whatsapp: </strong> <a href="https://wa.me/5511948683746" target="_blank">Contato Comecial</a>
</address>
